@page "/controlmetapage"

<h3>Control de Metas</h3>

<RadzenRow>
    <RadzenColumn Size="12">
        <ExamenInnovation.Components.ListadoMetasComponent></ExamenInnovation.Components.ListadoMetasComponent>
    </RadzenColumn>
</RadzenRow>

@code {

}
